

.btn {
    transition: all .1s ease-in-out;
}

.btn:hover {
    transform: scale(.9625);
}

.btn:active {
    transform: scale(.925);
    opacity:  .75;

}


#cookie {
    transition: all .1s ease-in-out;
}

#cookie:hover {
    animation: slowShake 1s infinite;   
    transition: all .1s ease-in-out ;
}

#cookie:active {
    transition: scale .1s ease-in-out;
    animation: none;
    scale: 0.925;
    opacity:  .75;
}






@keyframes slowShake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -1px) rotate(-1deg);
    }

    20% {
        transform: translate(-1px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 1px) rotate(-1deg);
    }

    60% {
        transform: translate(-1px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(1px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -1px) rotate(-1deg);
    }
}
